.appointment {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 50px;
    width: 95vw;
    height: 100vh;
    margin: 10px;
}

.appointment-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 10px;
    gap: 1rem;
}

.appointment-search {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.doctor-daterange {
    display: flex;
    align-items: center;
    gap: 10px;
}

.animal-daterange {
    display: flex;
    align-items: center;
    gap: 10px;
}

.appointment-newappointment {
    display: flex;
    align-items: center;
    gap: 10px;
}

.appointment-updateappointment {
    display: flex;
    align-items: center;
    gap: 10px;
}